<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>InlogPagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/cssWebApp1.css">
    <link rel="stylesheet" th:href="@{/css/cssWebApp1.css}" href="../../static/css/cssWebApp1.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark navH">
    <a class="navbar-brand" href="/">
        <img class="img-fluid" src="/img/logo_Transparant.png" alt="logo"/>
    </a>
    <h1 class="HoofdTitel">Aanmelden</h1>
</nav>
<div class="container-fluid">
    <div class="container pb-5">
        <div class="row">
            <div class="col-4">
                <div class="col">
                    <p class="speech-bubble-KangoeroeMol p-1 mt-5">Wereld vol Verwondering!!!</p>
                    <img class="img-fluid" src="/img/Dekangerou.png" height="333" width="333"/>
                </div>
            </div>
            <div class="col-4 text-center">
                <form th:action="@{/user/login}" method="post">
                    <div class="form-group">
                        <label for="name">
                            <h5 class="mt-4">Gebruikersnaam:</h5>
                            <input type="text" id="name" name="username" class="form-control"
                                   placeholder="Gebruikersnaam">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <h5>Vul hier je persoonlijk code in:</h5>
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Wachtwoord">
                        </label>
                    </div>
                    <button class="btn btn-primary">Aanmelden</button>
                </form>
            </div>
            <div class="col-4">
                <div class="col text-lg-right">
                    <p class="speech-bubble-KangoeroeMol p-1 mt-5 text-left">Kom met ons spelen!!!</p>
                    <img class="img-fluid"
                         src="/img/cartoon-mol-zwaaien_29190-3021-removebg-preview.png" height="319"
                         width="347"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fixed-bottom">
        <div class="row bg-dark justify-content-center">
            <div class="col-md-4 text-center">
                <h6 class="whiteText text-white mt-3 mb-3">© Copyright 2020 Knùs</h6>
            </div>
        </div>
    </div> <!--footer-->
</div>
</body>
</html>