<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/cssWebApp1.css}" href="../../static/css/cssWebApp1.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<a name="top"></a>
<nav class="nav navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/user/appHome">
        <img class="rounded" src="/img/logo_Transparant1.png" height="100" width="100"/>
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarDeWebAppVideos"
            aria-controls="navbarDeWebAppVideos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDeWebAppVideos">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/user/appHome"><i class="fas fa-home fa-3x"></i></a>
            <a class="nav-item nav-link" th:href="'/VideoPage/'+${knuffelId}" href="/VideoPage.html"><i
                    class="fas fa-tv fa-3x"></i></a>
            <a class="nav-item nav-link" th:href="'/GamePage/'+${knuffelId}" href="/GamePage.html"><i
                    class="fas fa-gamepad fa-3x"></i></a>
            <a class="nav-item nav-link" href="/user/logout"><i class="fas fa-sign-out-alt fa-3x"></i></a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="layoutVideoPage">
        <div class="nameVideosAndGames pt-5 pb-5">
            <div class="row">
                <div class="col-md text-center">
                    <h1 class="animalNameTitleVideoGamePage" th:text="${knuffel.animalName}"> Knuffel name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center mt-5">
                    <img class="img-fluid" th:src="${knuffel.animalPic}" alt="knuffel" width="500" height="500"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center mt-3">
                <div th:each="video:${video}">
                    <h3 class="animalTitleVideoGamePage pt-4" th:text="${video.titel}">Titel</h3>
                    <iframe width="560" height="315"
                            th:src="@{https://www.youtube.com/embed/{url} (url=${video.videoFileName})}"
                            frameborder="0" alt="no video attached" allowfullscreen="1"></iframe>
                </div>
                <br>
                <br>
                <a href="#top"><i class="fas fa-arrow-up fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="footer text-center text-white">
    <footer>© Copyright 2020 Knùs
    </footer>
</div>
<!-- ******************* -->
<!-- Scripts -->
<!-- ******************* -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>